:root {
    /* Color styles */
    --light: rgba(255, 255, 255, 1);
    --dark: rgba(0, 0, 0, 1);
    --accent: rgba(48, 53, 71, 1);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "EB Garamond", serif;
}

nav.navbar {
    background-color: var(--light);
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 4;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.60);
}

.navbar div.links {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.links img {
    height: 58px;
}

div.links a {
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 600;
    color: var(--dark);
}

section.hero {
    height: 100vh;
    background-image: url("assets/background.png");
    background-position: center;
    background-size: cover;
}

.hero .document {
    height: 80%;
    width: max(45%, 600px);
    background-color: var(--light);
    margin: auto;
    position: relative;
    top: 20%;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.80);
    color: var(--dark);
    padding-top: 15vh;
}

.document h1 {
    font-size: 94px;
    font-weight: 700;
    width: fit-content;
    margin: auto;
}

.document h2 {
    font-size: 42px;
    font-weight: 400;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}

.document p {
    width: fit-content;
    margin: 10px auto 0 auto;
}

div.stats {
    height: 200px;
    background-color: var(--accent);
    z-index: 2;
    color: var(--light);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.statistic {
    max-width: 256px;
}

.statistic h3 {
    font-size: 46px;
    font-family: "Montserrat";
    margin-bottom: 4px;
    font-weight: 700;
}

.statistic p {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
}

.reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
    padding-bottom: 100px;
}

.reasons h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 72px;
    margin-bottom: 24px;
}

.reasons .card {
    background-color: var(--accent);
    height: 148px;
    width: 60%;
    display: flex;
    align-items: center;
    color: var(--light);
    padding: 12px 64px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.40);
}

.card img {
    height: 60%;
}

.card:nth-child(3) img {
    height: 45%;
}

.card div.text {
    margin-left: 24px;
}

.card h3 {
    font-size: 28px;
    font-family: "Montserrat";
    margin-bottom: 4px
}

.bar {
    height: 20px;
    width: 100%;
    background: repeating-linear-gradient(
    -55deg,
    rgba(0,0,0,0),
    rgba(0,0,0,0) 20px,
    var(--accent) 20px,
    var(--accent) 40px
);
}

.construction {
    color: var(--accent);
    text-align: center;
    padding-bottom: 128px;
}

.construction h1 {
    font-size: 64px;
    max-width: 60%;
    margin: 48px auto 32px auto;
}

.construction h3 {
    font-size: 32px;
    font-weight: 400;
    max-width: 40%;
    margin: auto;
}

@media only screen and (max-width: 889px) {

    body {
        overflow-x: hidden;
    }

    nav.navbar {
        width: 100%;
    }

    .navbar div.links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    div.links img {
        height: 38px;
    }

    div.links a {
        font-size: 14px;
    }

    section.hero {
        height: 80vh;
    }

    .hero .document {
        width: 85%;
        max-width: 90%;
        top: 20%;
        padding-top: 12vh;
    }

    .document h1 {
        font-size: 56px;
    }

    .document h2 {
        font-size: 32px;
    }

    .document p {
        max-width: 80%;
        text-align: center;
    }
    
    .stats {
        padding: 0 20px;
    }

    .statistic {
        flex-grow: 1;
        text-align: center;
    }
    
    .statistic h3 {
        font-size: 38px;
        font-family: "Montserrat";
        margin-bottom: 4px;
        font-weight: 700;
    }
    
    .statistic p {
        font-size: 14px;
        font-family: "Montserrat";
        font-weight: 400;
    }

    .reasons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 52px;
        padding-bottom: 100px;
    }
    
    .reasons h1 {
        font-size: 48px;
        font-weight: 700;
        margin-top: 72px;
        margin-bottom: 24px;
    }
    
    .reasons .card {
        width: 85%;
        padding: 24px 24px;
    }
    
    .construction h1 {
        font-size: 42px;
        max-width: 80%;
        margin: 48px auto 32px auto;
    }
    
    .construction h3 {
        font-size: 28px;
        font-weight: 400;
        max-width: 70%;
        margin: auto;
    }

}